.forum__logo__text{
  display: flex;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  height: 50px;
  letter-spacing: 1px;
  font-weight: 600;
  margin-left: 12px;
}

.profile__button{
  width: 140px;
  height: 30px;
  display: flex;
  align-items: center;
  border: 2px solid;
  border-radius: 25px;
  margin: 0 6px;
}

.profile__avatar{
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin-left: 2px;
  object-fit: cover;
}

.profile__text{
  margin: 0 6px;
  display: flex;
  align-items: center;
  font-size: 14px;
  width: 90px;
  overflow: hidden;
}
